/* limpando formatação padrão */
* {
    margin: 0px;
    padding: 0px;
}

/* Tema padrão do site e menus */

body {
    font-size: 16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #F3F3F3;
}

h2 {
    color: #B9C941;
}

a {
    text-decoration: none;
    padding: 5px 10px;
}

a:link {
    color: #838383;
}

a:visited {
    color: #838383;
}

a:hover {
    color: #FFF;
    background: #B9C941;
}

a:active {
    color: #535353;
}

/* IDS */

#navegacao {
    background: #FFF;
    border-bottom: 1px solid #D8D8D8;
    height: 45px;
    position: fixed;
    width: 100%;
    top: 0px;
}

#area {
    width: 720px;
    margin: 0px auto;
}

#area-principal {
    width: 720px;
    margin: 55px auto 10px auto;
}

#logo {
    float: left;
}

#menu {
    float: right;
    padding: 10px 0px;
}

#postagem {
    background: #FFF;
    padding: 10px;
    margin-bottom: 10px;
}

/* CLASSES */
.verde {
    color: #B9C941;
}

.data-postagem {
    font-size: 14px;
    border-bottom: 1px solid #F4F4F4;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.img-postagem {
    float: left;
    margin: 0px 10px 5px 0px;
}

.postado {
    border-left: 3px solid #D8D8D8;
    padding-left: 5px;
    display: block;
    margin-top: 10px;
}